*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: #edd8be;
    background: linear-gradient(360deg, rgba(237, 216, 190, 1) 0%, rgba(227, 157, 184, 1) 100%, rgba(240, 127, 195, 1) 94%);
    background-repeat: no-repeat;
    color: #333;
    line-height: 1.6;
}

header {
    display: flex;
    text-align: center;
    border: 6px solid #d49469;
    border-radius: 4px;
    border-style: ridge;
}

.logo {
    height: 80px;
    margin: 15px;
}

h1>a {
  text-decoration: none;
}

h1 {
  font-size: 60px;
  text-decoration: none;
  background: -webkit-linear-gradient(#ffb68f, #d64198);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 2px 2px 4px rgba(184, 56, 131, 0.3),
  -2px -2px 4px rgba(219, 151, 114, 0.3);
  -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 30px;
}

nav {
    margin-top: 55px;
}

nav ul {
    font-size: 20px;
    list-style: -webkit-radial-gradient(circle, #ffb68f, #d64198);
    margin-left: 80px;
    margin-top: 10px;
    padding: 0;
    display: flex;
    gap: 80px;
}
nav ul li a {
    text-decoration: none;
    color: #6e3b53;
}

nav ul li a:visited {
    color: #6e3b53;
}

nav ul li a:hover {
    color: #d64198;
}
.content {
    text-align: center;
    margin: 0px;
    background-image: url('./img/background2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4px;
    min-height: 500px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #f8f8f8;
    padding: 1rem;
    text-align: center;
}